# Under Lock and Key

You and Harold have developed a Python application that will extract historical stock data from **Quandl** for a given ticker and calculate the Sharpe ratio for that stock. So far, only you two have been using the program, but your manager now wants you to open the application up to the entire team. You know that Quandl allows API calls to be submitted without an API key, but the limit is 50 calls a day. Quandl is diligent in their rate-limiting and keeps services under lock and key.

## Instructions

### Import the Python `requests`, `os`, and `dotenv` libraries

In [22]:
# Initial imports
import pandas as pd
from dotenv import load_dotenv
import os 
import requests

### Use the `load_dotenv()` method from the `dotenv` package to load and export the environment variables

In [23]:
load_dotenv()

True

### Use the `os.getenv` function to retrieve the environment variable named `QUANDL_API_KEY`. Store as a Python variable named `api_key`

In [24]:
api_key = os.getenv("QUANDL_API_KEY")

### Use the `type` function to confirm the retrieval of the API key.

In [25]:
type(api_key)

str

### Concatenate `request_url` with the `api_key` variable

In [26]:
# Define the base request URL
request_url = "https://www.quandl.com/api/v3/datasets/WIKI/MSFT.json?api_key="

# Concatenate request_url and api_key. Store as new variable
request_url

'https://www.quandl.com/api/v3/datasets/WIKI/MSFT.json?api_key='

### Execute GET request with API key

In [27]:
# Execute get request
response = requests.get(request_url)
response

### Display content to screen using the content attribute

In [57]:
# Output data
response_data = response.json()

In [63]:
data= response_data['dataset']['data']
column_names = response_data['dataset']['column_names']
column_names

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Volume',
 'Ex-Dividend',
 'Split Ratio',
 'Adj. Open',
 'Adj. High',
 'Adj. Low',
 'Adj. Close',
 'Adj. Volume']

In [86]:
df = pd.DataFrame(data, columns=column_names)
df['Date'] = pd.to_datetime(df['Date'])
df.index = df['Date']
df = df[['Close', 'Volume']]
df.loc['2008']

            Close      Volume
Date
2008-12-31  19.44  46419000.0
2008-12-30  19.34  43224100.0
2008-12-29  18.96  58512800.0
2008-12-26  19.13  23101000.0
2008-12-24  19.17  16880400.0
...           ...         ...
2008-01-08  33.45  79148300.0
2008-01-07  34.61  80164300.0
2008-01-04  34.38  72090800.0
2008-01-03  35.37  49599600.0
2008-01-02  35.22  63004200.0

[253 rows x 2 columns]