# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [21]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from newsapi import NewsApiClient

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\wadee\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [22]:
# Read your api key environment variable
load_dotenv()
api_key = os.getenv("news_api")

In [23]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [24]:
# Fetch the Bitcoin news articles
btc_headlines = newsapi.get_everything(
    q="bitcoin",
    language="en",
    sort_by="relevancy"
)

In [25]:
# Fetch the Ethereum news articles
eth_headlines = newsapi.get_everything(
    q="ethereum",
    language="en",
    sort_by="relevancy"
)

In [26]:
# Create the Bitcoin sentiment scores DataFrame
sentiments = []

for articles in btc_headlines["articles"]:
    try:
        text = articles["content"]
        results = analyzer.polarity_scores(text)
        compound = results["compound"]
        pos = results["pos"]
        neu = results["neu"]
        neg = results["neg"]

        sentiments.append({
            "text": text,
            "Compound": compound,
            "Positive": pos,
            "Negative": neg,
            "Neutral": neu,
        })
    except AttributeError:
        pass
    
btc  = pd.DataFrame(sentiments)
btc.head()

,text,Compound,Positive,Negative,Neutral
0,New York lawmakers have passed a bill\r\n that...,-0.5574,0.000,0.098,0.902
1,"Rapper and entrepreneur Shawn Carter, better k...",0.4404,0.077,0.000,0.923
2,A new study on bitcoin calls into question whe...,0.5267,0.124,0.000,0.876
3,"Image caption, President Faustin-Archange Toua...",0.5106,0.164,0.000,0.836
4,You can now reportedly pay for your burritos a...,-0.1027,0.000,0.040,0.960

In [27]:
# Create the Ethereum sentiment scores DataFrame
sentiments = []

for articles in eth_headlines["articles"]:
    try:
        text = articles["content"]
        results = analyzer.polarity_scores(text)
        compound = results["compound"]
        pos = results["pos"]
        neu = results["neu"]
        neg = results["neg"]

        sentiments.append({
            "text": text,
            "Compound": compound,
            "Positive": pos,
            "Negative": neg,
            "Neutral": neu,
        })
    except AttributeError:
        pass
    
eth  = pd.DataFrame(sentiments)
eth.head()

,text,Compound,Positive,Negative,Neutral
0,GameStop has officially thrown itself headlong...,-0.1027,0.000,0.040,0.960
1,GameStop is going all-in on crypto. The video ...,0.1280,0.046,0.000,0.954
2,The ability to conduct external transfers on P...,0.3182,0.059,0.000,0.941
3,"A decentralized autonomous organization, or DA...",0.5859,0.134,0.000,0.866
4,"Crypto Winter It May Be, But Ethereum Looks Li...",0.3612,0.081,0.044,0.875

In [28]:
# Describe the Bitcoin Sentiment
btc.describe()

        Compound   Positive   Negative   Neutral
count  20.000000  20.000000  20.000000  20.00000
mean   -0.067785   0.056650   0.069100   0.87430
std     0.419507   0.060573   0.067728   0.08222
min    -0.859300   0.000000   0.000000   0.64600
25%    -0.386825   0.000000   0.030000   0.83750
50%    -0.140300   0.043000   0.061500   0.88850
75%     0.334100   0.087750   0.098250   0.92300
max     0.526700   0.187000   0.300000   1.00000

In [29]:
# Describe the Ethereum Sentiment
eth.describe()

        Compound   Positive   Negative    Neutral
count  20.000000  20.000000  20.000000  20.000000
mean   -0.064420   0.045050   0.058100   0.896950
std     0.420876   0.044337   0.087101   0.084196
min    -0.948500   0.000000   0.000000   0.628000
25%    -0.396450   0.000000   0.000000   0.872750
50%    -0.051350   0.044000   0.042000   0.920000
75%     0.328950   0.076500   0.088250   0.955000
max     0.585900   0.134000   0.372000   1.000000

### Questions:

Q: Which coin had the highest mean positive score?

A: BTC had the highest mean positive score. 

Q: Which coin had the highest compound score?

A: ETH has the highest compound score. 

Q. Which coin had the highest positive score?

A: ETH had the highest positive score.

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [31]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [32]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
set(stopwords.words('english')) 

# Expand the default stopwords list if necessary
all_stopwords = stopwords.words('english')

In [55]:
# Complete the tokenizer function
def tokenizer(text):
  """Tokenizes text."""
  lemmatizer = WordNetLemmatizer()
  set(stopwords.words('english')) 
  all_stopwords = stopwords.words('english')

  regex = re.compile("[^A-Za-z0-9 ]")
  text = regex.sub("", text)

  #Create a list of words
  words = word_tokenize(text)

  #convert the words to lower case 
  words = [word.lower() for word in words ]

  # Remove the punctuation from text


 # words = list(filter(lambda t: t not in punctuation, words))

    # Create a tokenized list of the words
    
    
    # Lemmatize words into root words
  words = [lemmatizer.lemmatize(word) for word in words if word not in all_stopwords]
   
    # Convert the words to lowercase
    
    
    # Remove the stop words
    
  return words

In [65]:
# Create a new tokens column for Bitcoin
btc.head()
# tokenizer(btc['text'][0]) test function, it works!

btc['tokenized_text'] = btc['text'].apply(tokenizer)
btc.head()

,text,Compound,Positive,Negative,Neutral,tokenized_text
0,New York lawmakers have passed a bill\r\n that...,-0.5574,0.000,0.098,0.902,"[new, york, lawmaker, passed, bill, would, tem..."
1,"Rapper and entrepreneur Shawn Carter, better k...",0.4404,0.077,0.000,0.923,"[rapper, entrepreneur, shawn, carter, better, ..."
2,A new study on bitcoin calls into question whe...,0.5267,0.124,0.000,0.876,"[new, study, bitcoin, call, question, whether,..."
3,"Image caption, President Faustin-Archange Toua...",0.5106,0.164,0.000,0.836,"[image, caption, president, faustinarchange, t..."
4,You can now reportedly pay for your burritos a...,-0.1027,0.000,0.040,0.960,"[reportedly, pay, burrito, taco, bitcoin, digi..."

In [73]:
# Create a new tokens column for Ethereum
eth.head()
eth['tokenized_text'] = eth['text'].apply(tokenizer)
eth.head(3)

,text,Compound,Positive,Negative,Neutral,tokenized_text
0,GameStop has officially thrown itself headlong...,-0.1027,0.000,0.04,0.960,"[gamestop, officially, thrown, headlong, web3,..."
1,GameStop is going all-in on crypto. The video ...,0.1280,0.046,0.00,0.954,"[gamestop, going, allin, crypto, video, game, ..."
2,The ability to conduct external transfers on P...,0.3182,0.059,0.00,0.941,"[ability, conduct, external, transfer, paypals..."

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [60]:
from collections import Counter
from nltk import ngrams

In [68]:
# Generate the Bitcoin N-grams where N=2
ngram_counts_btc = Counter(ngrams(btc, n=2))
print(dict(ngram_counts_btc))

{('text', 'Compound'): 1, ('Compound', 'Positive'): 1, ('Positive', 'Negative'): 1, ('Negative', 'Neutral'): 1, ('Neutral', 'tokenized_text'): 1}

In [69]:
# Generate the Ethereum N-grams where N=2
ngram_counts_eth = Counter(ngrams(eth, n=2))
print(dict(ngram_counts_eth))

{('text', 'Compound'): 1, ('Compound', 'Positive'): 1, ('Positive', 'Negative'): 1, ('Negative', 'Neutral'): 1, ('Neutral', 'tokenized_text'): 1}

In [70]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [72]:
# Use token_count to get the top 10 words for Bitcoin
print(dict(ngram_counts_btc.most_common(10)))

{('text', 'Compound'): 1, ('Compound', 'Positive'): 1, ('Positive', 'Negative'): 1, ('Negative', 'Neutral'): 1, ('Neutral', 'tokenized_text'): 1}

In [ ]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [74]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [ ]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [ ]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [ ]:
import spacy
from spacy import displacy

In [ ]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [ ]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [ ]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [ ]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---